{% extends 'base.html' %} 
{% block title %} Home {% endblock title %} 
{% block body %}

<div class="container my-3">
  <h1>Add a Todo</h1>
  <form action="/" method="POST">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        aria-describedby="emailHelp"
        name="title"
      />
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Description</label>
      <input type="text" name="desc" class="form-control" id="desc" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<div class="container my-3">
  {% if allTodo|length == 0 %}
  <div class="alert alert-warning" role="alert">
    No Todos Found. Add your first Todo now!
  </div>
  {% else %}
  <h1>My Todos</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">SNo</th>
        <th scope="col">Title</th>
        <th scope="col">Desciption</th>
        <th scope="col">Time</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for Todo in allTodo %}
      <tr>
        <th scope="row">{{ loop.index }}</th>
        <td>{{ Todo.title }}</td>
        <td>{{ Todo.desc }}</td>
        <td>{{ Todo.date }}</td>
        <td>
          <a href="/edit/{{ Todo.sno }}" class="btn btn-sm btn-primary">Edit</a>
          <a href="/delete/{{ Todo.sno }}" class="btn btn-sm btn-danger"
            >Delete</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endif %} {% endblock body %}
